<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.finals.sxdj.repository.OrderMapper">
    <resultMap id="Order" type="Order" autoMapping="true"/>
    <resultMap id="OrderData" type="OrderData" autoMapping="true"/>
    <resultMap id="GoodsData" type="GoodsData" autoMapping="true"/>
    <insert id="insertNewOrder" >
        insert into `order` (consumer_id,put_time,status,pay) VALUES (#{consumerId},#{putTime},'处理中',#{pay});
    </insert>
    <insert id="insertNewOrderData">
        insert into order_data (order_id, goods_id, goods_number,goods_price,goods_total_price) VALUES (#{orderId},#{goodsId},#{number},#{price},#{totalPrice})
    </insert>
    <insert id="insertToShoppingCart" >
        insert into shopping_cart (open_id, goods_id, goods_number) VALUES (#{openId},#{goodsId},#{number})
    </insert>
    <update id="updateOrder">
        update `order` set ${cate}=#{value} where id=#{id}
    </update>
    <update id="updateShoppingCart">
        update shopping_cart set goods_number=#{number} where goods_id=#{goodsId} and open_id=#{openId}
    </update>
    <select id="queryOrderById" resultMap="Order">
        select * from `order` where id=#{orderId}
    </select>
    <select id="queryOrdersByConsumer" resultMap="Order">
        select * from `order` where consumer_id=#{consumberId}
    </select>
    <select id="queryLastOrder" resultMap="Order">
        select * from `order` order by id desc limit 1
    </select>
    <select id="queryById" resultMap="OrderData">
        select * from order_data where order_id=#{orderId}
    </select>
    <select id="queryShoppingCart" resultMap="GoodsData">
        select g.id as id,
               g.image_address as imageUrl,
               g.name as name,
               (gn.number-gn.sale_number) as number,
               gn.unit as numberUnit,
               gp.number as price,
               g.category as category,
               f.name as origin,
               sc.goods_number as selectNumber
        from shopping_cart sc
                 left join goods g on sc.goods_id=g.id
                 left join goods_number gn on sc.goods_id=gn.goods_id
                 left join goods_price gp on gp.goods_id=sc.goods_id
                 left join farmers f on f.id=g.origin_id
        where sc.open_id=#{openId} and g.if_delete=0;
    </select>
    <select id="queryShoppingCartGoods" resultMap="GoodsData">
        select g.id as id,
               g.image_address as imageUrl,
               g.name as name,
               g.category as category,
               f.name as origin,
               sc.goods_number as selectNumber
        from shopping_cart sc
                 left join goods g on sc.goods_id=g.id
                 left join farmers f on f.id=g.origin_id
        where sc.open_id=#{openId} and g.if_delete=0 and sc.goods_id=#{goodsId};
    </select>
    <delete id="deleteShoppingCartGoods">
        delete from shopping_cart where goods_id=#{goodsId} and open_id=#{openId}
    </delete>
</mapper>