<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.finals.sxdj.repository.TeamMapper">
    <resultMap id="Teams" type="Team" autoMapping="true">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <collection property="mates" javaType="java.util.List" ofType="Teammate" autoMapping="true">
            <result column="mate_id" property="id"/>
        </collection>
    </resultMap>
    <resultMap id="Teammate" type="Teammate" autoMapping="true"/>
    <resultMap id="TeamCart" type="TeamCart" autoMapping="true"/>
    <resultMap id="TeamCarts" type="TeamCarts" autoMapping="true">
        <result column="teamsId" property="teamsId"/>
        <result column="mateId" property="mateId"/>
        <collection property="carts" javaType="List" ofType="TeamCart" autoMapping="true"/>
    </resultMap>
    <insert id="insertNewTeam">
        insert into teams (id,name) values (#{id},#{name})
    </insert>
    <insert id="insertCart">
        insert into team_cart (source_id, open_id, team_id, goods_id, goods_number, status) VALUES (#{sourceId},#{openId},#{teamId},#{goodsId},#{number},'已提交');
    </insert>
    <insert id="insertNewTeammates">
        insert into teammates (team_id, open_id, nickname, status) values (#{teamId},#{openId},#{nickName},#{status})
    </insert>
    <select id="queryMateTeam" resultMap="Teams">
        select t2.*,t3.id as mate_id, t3.team_id, t3.open_id, t3.nickname, t3.status from  (
                       select * from teammates t1 where t1.open_id=#{mateId}
                           ) temp
        left join teams t2 on temp.team_id=t2.id
        left join teammates t3 on t2.id = t3.team_id
    </select>
    <select id="queryMate" resultMap="Teammate">
        select id, team_id, nickname, status from teammates where open_id=#{openId} and team_id=#{teamId}
    </select>
    <select id="queryMateById" resultMap="Teammate">
        select * from teammates where id=#{id}
    </select>
    <select id="queryMateCartById" resultMap="TeamCart">
        select * from team_cart where source_id=#{sourceId} and team_id=#{teamId}
    </select>
    <select id="queryTeamMembers" resultMap="Teammate">
        select id, team_id, nickname, status from teammates where team_id=#{teamId}
    </select>
    <select id="queryCart" resultMap="TeamCarts" >
        select tm.team_id as teamsId,
               tm.nickname as nickName,
               tm.id as mateId,
               tc.id,
               g.name as goodsName,
               source_id,
               tc.team_id as teamId,
               put_time, tc.goods_id,
               goods_number, tc.status,
               (gn.number- gn.sale_number) as stock ,
               tm.nickname ,
               g.image_address as imageUrl,
               gp.number as price from team_cart tc
               left join goods g on g.id=tc.goods_id
               left join teammates tm on (tm.id=tc.source_id)
               left join goods_number gn on g.id = gn.goods_id
               left join goods_price gp on g.id = gp.goods_id
        where tc.team_id=#{teamId} and tc.status='已提交'
    </select>
    <select id="queryMateSingleCart" resultMap="TeamCart">
        select * from team_cart where open_id=#{openId} and goods_id=#{goodsId} and team_id=#{teamId} and status='已提交'
    </select>
    <select id="queryMateCart" resultMap="TeamCart">
        select tc.id,
               g.name as goodsName,
               source_id,
               tc.team_id as teamId,
               put_time, tc.goods_id,
               goods_number, tc.status,
               (gn.number- gn.sale_number) as stock ,
               g.image_address as imageUrl,
               gp.number as price from team_cart tc
               left join goods g on g.id=tc.goods_id
               left join goods_number gn on g.id = gn.goods_id
               left join goods_price gp on g.id = gp.goods_id
        where tc.open_id=#{openId} and tc.team_id=#{teamId} and tc.status='已提交'
    </select>
    <select id="queryCartById" resultMap="TeamCart">
        select tc.id,
               g.name as goodsName,
               source_id,
               tc.team_id as teamId,
               put_time, tc.goods_id,
               goods_number, tc.status,
               (gn.number- gn.sale_number) as stock ,
               g.image_address as imageUrl,
               gp.number as price from team_cart tc
                                           left join goods g on g.id=tc.goods_id
                                           left join goods_number gn on g.id = gn.goods_id
                                           left join goods_price gp on g.id = gp.goods_id
            where tc.id=#{cartId}
    </select>
    <update id="updateTeammate">
        update teammates set ${key}=#{value} where id=#{mateId} and team_id=#{teamId}
    </update>
    <update id="updateCart">
        update team_cart set goods_number=#{number} where team_id=#{teamId} and open_id=#{openId} and goods_id=#{goodsId}
    </update>
    <update id="bookCart" >
        update team_cart set status='已下单' where id=#{cartId}
    </update>
    <delete id="quitTeam" >
        delete from teammates where team_id=#{teamId} and id=#{mateId}
    </delete>
    <delete id="deleteCart">
        delete from team_cart where id=#{cartId}
    </delete>
    <delete id="deleteTeammate">
        delete from teammates where id=#{mateId}
    </delete>
</mapper>