<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.finals.sxdj.repository.UserMapper">
    <resultMap id="User" type="User" autoMapping="true"/>
    <select id="queryUser" parameterType="String" resultMap="User">
        select * from user where open_id=#{openId};
    </select>
    <update id="updateUser">
        update user set ${cate}=#{value} where open_id=#{openId}
    </update>
</mapper>